<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flow.coretime.mapper.UserMapper">

	<select id="findById" resultType="com.flow.coretime.model.User">
        SELECT ID, PASSWORD, ROLE
        FROM USERS
        WHERE ID = #{id}
    </select>
	<insert id="insertUser" parameterType="com.flow.coretime.model.User">
        INSERT INTO USERS (NAME, ID, PASSWORD, EMAIL, TEL, RANK, DEPARTMENT, BIRTH, UPDATEDAT, CREATEDAT, ROLE)
        VALUES (#{name}, #{id}, #{password}, #{email}, #{tel}, #{rank}, #{department}, #{birth}, #{updatedAt}, #{createdAt}, #{role})
    </insert>
    
    <select id="findAllUsers" resultType="com.flow.coretime.model.User">
        SELECT
            NAME, ID, PASSWORD, EMAIL, TEL, RANK, DEPARTMENT, BIRTH, UPDATEDAT, CREATEDAT, ROLE AS ROLE
        FROM USERS
        ORDER BY CREATEDAT DESC
    </select>
    
    <select id="countById" resultType="int">
        SELECT COUNT(*)
        FROM USERS
        WHERE ID = #{id}
    </select>
    
    <delete id="deleteUsersByIds" parameterType="java.util.List">
        DELETE FROM users
        WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>